<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myy.common.usercenter.user.mapper.userMapper">

    <select id="findByPage" resultType="com.myy.common.usercenter.user.vo.userVo"
            parameterType="com.myy.common.usercenter.user.vo.userSearchVo">
        SELECT * FROM sys_user t WHERE t.del_flag='0'
        <if test="needOrder">ORDER BY t.update_time DESC,t.id</if>
    </select>

</mapper>